/* You can add global styles to this file, and also import other style files */
*{
    margin: 0px;
    box-sizing: border-box;
    font-size: 16px;
    
}
body{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #B8E7E1;
    background-image: url("assets/bg.jpg");
    background-attachment: fixed;
   
    background-size:cover;
    
}